# What should be ignored base on Heruko instructions

# This folder is ignored since Heruko process what is needed based on package.JSON
# However, the dependencies should be installed by typing `npm i [package-name]`
# ...if the project would be hosted locally
/node_modules

npm-debug.log

*.env

# Contains my connection link to the Mongo Atlas which contains my password
myApp.js
