# What should be ignored base on Heruko instructions

# This folder is ignored since Heruko process what is needed based on package.JSON
# However, the dependencies should be installed by typing `npm i`
# ...if the project would be hosted locally
node_modules/

npm-debug.log

*.env
